<app-auth-template>
  <div class="flex flex-col gap-3">
    <h1 class="text-xl">Restablecer contraseña</h1>
    <ng-template [ngIf]="!tokenIsValid">
      <p class="p-1 font-light">
        Ops, el <b>token</b> de restitución de contraseña es inválido o ya ha
        sido utilizado.
      </p>
      <a [routerLink]="['/']">Volver a formulario de acceso</a>
      <a [routerLink]="['/did-you-forget-your-password']"
        >Volver a formulario de recuperación de contraseña</a
      >
    </ng-template>

    <ng-template [ngIf]="tokenIsValid">
      <label for="password">Ingrese su nueva contraseña</label>
      <input type="password" />

      <label for="repeat-password">Vuelva a ingresar su nueva contraseña</label>
      <input type="password" />

      <app-button>Restablecer contraseña</app-button>

      <a [routerLink]="['/']">Volver a formulario de acceso</a>
    </ng-template>
  </div>
</app-auth-template>
