<app-auth>
  <div class="flex flex-col gap-3">
    <h1 class="text-xl">Restablecer contraseña</h1>
    <ng-template [ngIf]="!tokenIsValid">
      <p class="p-1 font-light">
        Ops, el <b>token</b> de restitución de contraseña es inválido o ya ha
        sido utilizado.
      </p>
      <a
        [routerLink]="['/']"
        class="text-blue-600 hover:text-blue-500 underline"
        >Volver a formulario de acceso</a
      >
      <a
        [routerLink]="['/did-you-forget-your-password']"
        class="text-blue-600 hover:text-blue-500 underline"
        >Volver a formulario de recuperación de contraseña</a
      >
    </ng-template>

    <ng-template [ngIf]="tokenIsValid">
      <label for="password" class="font-semibold"
        >Ingrese su nueva contraseña</label
      >
      <input type="password" class="p-2 border" />

      <label for="repeat-password" class="font-semibold"
        >Vuelva a ingresar su nueva contraseña</label
      >
      <input type="password" class="p-2 border" />

      <app-button>Restablecer contraseña</app-button>

      <a
        [routerLink]="['/']"
        class="text-blue-600 hover:text-blue-500 underline"
        >Volver a formulario de acceso</a
      >
    </ng-template>
  </div>
</app-auth>
